.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    padding: 20px;
    width: 350px;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;

    h2 {
      color: white;
    }

    input {
      width: 100%;
      line-height: 3em;
    }

    .name-password {
      color: $color-base;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $border-color;
    }

    .forget {
      display: block;
      margin: 10px 0;
      width: 100%;
      text-align: left;
      color: $primary-color;
      font-size: 12px;
    }

    .login {
      //TODO feedback: 这里的.login最好换一个名字，因为它和38行的.login重名了，这段代码乍一看，很让人迷惑
      // 然后我看了一下，@extend .login是来自于_extends.scss里面的.login, 但是_extends.scss里面的.login实际上是@include btn-variant()。
      // 那么为什么38行的.login不直接@include btn-variant()呢？
      @extend .login;
      // TODO feedback: 这里也不应该是@extend .submit, 而应该是@include. 可以去了解一下@extend和@include的使用场景和差别
      @extend .submit;
    }

    // TODO feedback: 和上面.login同意的问题
    .register {
      @extend .register;
      @extend .submit;
    }
  }
}
