.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $container-padding-y $container-padding-x;
  border-bottom: 1px solid $border-color;

  nav {
    button {
      width: 80px;
      line-height: 2em;
      border: 1px solid;
      border-radius: 2em;
    }
    button:first-child {
      @extend .login;
    }
    button:last-child {
      @extend .register;
    }
  }
}
